:root {
  --clr-orange: 5 100% 63%;
  --clr-blue: 235 100% 50%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, hsl(var(--clr-orange)),hsl(var(--clr-blue)));
    color: white;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.scoreboard {
    width: 100%;
    height: 11vh;
    flex-wrap: wrap;
    text-align: center;
}

.line-break {
    margin: auto;
    width: 40%;
}

.panel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10em;
    gap: 20px;
    padding-bottom: 20px;
}

.item-decision {
    width: 25rem;
    height: 21rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.item {
    width: 25rem;
    height: 21rem;
    border-radius: 1rem;
    pointer-events: none;
    outline: none;
}

.choice-decision {
    text-align: center;
}

.computer-decision {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, hsl(var(--clr-orange)),hsl(var(--clr-blue)));
        color: white;
        line-height: 1.5;
        font-family: 'Inter', sans-serif;
        font-weight: bolder;
    }
    
    .choose {
        padding-bottom: 20px;
    }
    
    .item-decision {
        width: 18rem;
        height: 15rem;
    }
    
    .item {
        width: 18rem;
        height: 15rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}