* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #807edf, #a55e6bb0);
    color: black;
    background-color: #111560df;
    color: white;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.scoreboard {
    width: 100%;
    height: 11vh;
    flex-wrap: wrap;
    text-align: center;
}

.line-break {
    margin: auto;
    width: 40%;
}

.panel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10em;
    gap: 20px;
    padding-bottom: 20px;
}

.item-decision {
    width: 25rem;
    height: 21rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.item {
    width: 25rem;
    height: 21rem;
    border-radius: 0.5rem;
    pointer-events:none;
}

.the-croc {
    animation: changeBorder 2s ease-in-out;
}

.choice-decision {
    text-align: center;
}

.computer-decision {
    text-align: center;
}

@keyframes changeBorder {
    from {
        border-color: '25px solid red';
    }

    to {
        border: '20px solid green';
    }
}

@media only screen and (max-width: 800px) {
    .choose {
        padding-bottom: 20px;
    }
    
    .item-decision {
        width: 18rem;
        height: 15rem;
    }
    
    .item {
        width: 18rem;
        height: 15rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}